.body-grid-container-home {
    display: grid;
    grid-template-rows: 750px auto auto;
    grid-template-columns: 100%;

}

/** HEADER **/

.header-home-bg {
    background-repeat: no-repeat;
    background-image: url(../images/home-1.jpg);
    background-size: cover;
    background-position: center center;
    border-bottom: 5px solid #fff;
}

/***** HERO ****/

.hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
    overflow: hidden;
}

.home-hero-h1 {
    grid-column: 3 / 7;
    grid-row: 4 /4;
    display: grid;
    align-items: center;
}

.home-hero-h2 {
    display: grid;
    grid-column: 3 / 7;
    grid-row: 5 / 5;
    align-items: end;
}

.home-hero-text {
    grid-column: 3 / 7;
    grid-row: 6 / 6;
}

.home-hero-btn {
    grid-column: 3 / 5;
    grid-row: 8 / 9;

    width: 300px;

}

a img.hover {
    display: none;
}

a img.default {
    display: inherit;
}

a:hover img.hover {
    display: inherit;
}

a:hover img.default {
    display: none;
}

.header-contact-hero-img {
    grid-row: 1/6;
    grid-column: 6/-1;

}

.header-contact-hero-img img {
    max-width: 100%;
    height: auto;
    display: block;
}

/********************************* MAIN HOME **************************************/

.main {
    background: var(--bggray);
}

.main-grid-container {
    display: grid;
    grid-template-rows: repeat(3, auto);


}

/*** DEFINE ***/

.main-define {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    padding-bottom: 20px;
}

.main-define-title {
    grid-column: 4/-4;
    grid-row: 1;
    height: auto;
    padding-top: 30px;
    text-align: center;
}

.main-define-text {
    grid-row: 2;
    grid-column: 4/-4;
    text-align: center;
    padding: 20px 0;
}

.define-items {
    grid-column: 3/-3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.define-item {
    max-width: 280px;
    min-width: 250px;
    width: 25%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
}

.define-item img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}


/*** UNDERSTAND ***/
.main-understand {
    display: grid;
    justify-content: center;
    background: var(--bggold);
    padding-bottom: 20px;
}

.main-understand-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
}

.main-understand-col1 {
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.understand-col1-subtitle {
    padding-bottom: 20px;
}

.main-understand-col2 {
    padding: 20px;
    max-width: 500px;
}

.main-understand-text {
    padding: 20px 0;
    grid-column: 4/-4;
}

.main-understand-title {
    padding-top: 30px;
    grid-column: 3/7;
    padding-right: 20px;
}

.main-understand-subtitle {
    grid-column: 3/7;
    padding-right: 20px;
}

.main-understand-text {
    grid-column: 3/7;
    padding-right: 20px;
}

.main-understand-col2 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

.main-understand-col2 img {
    width: 100%;

    border: var(--imgsquareborder);
    box-shadow: var(--imgsquareshadow);
}

/*** TESTIMONY ***/
.main-testimony {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 20px;
    grid-row: 4;
}

.main-testimony-title {
    padding-top: 30px;
    grid-column: 1/-1;
    text-align: center;

}

.main-testimony-subtitle {
    grid-column: 1/-1;
    text-align: center;
}

.main-testimony-text {
    padding: 20px 20px;
    grid-column: 3/-3;
    text-align: center;
}

.main-testimony-container {
    display: grid;

    grid-column: 1/-1;
    text-align: center;
    justify-content: center;

}

.mtc-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    max-width: 1200px;
    text-align: center;
}

.mtc-item {
    width: 250px;
    height: 350px;

    padding: 20px;
}

.mtc-item-title {
    height: 50px;
}


/** @MEDIA **/

@media (max-width: 768px) {
    .hero-grid {
        display: grid;

        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 5px;

        overflow: hidden;
        justify-content: center;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-hero-h1 {
        grid-column: 2 / -2;
        grid-row: 4 /4;
        display: grid;
        align-items: center;
    }

    .home-hero-h2 {
        display: grid;
        grid-column: 2 / -2;
        grid-row: 5 / 5;
        align-items: center;
    }

    .home-hero-text {
        grid-column: 2 / -2;
        grid-row: 6 / 6;
    }

    .home-hero-btn {
        grid-column: 7;
        grid-row: 8 / 9;
        text-align: center;
        justify-content: center;
        width: 300px;

        display: flex;
        flex-direction: column;

    }

    .home-hero-btn a {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    /** DEFINE **/

    .main-define {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        padding-bottom: 20px;
    }

    .main-define-title {
        grid-column: 2/-2;
        grid-row: 1;
        height: auto;
        padding-top: 30px;
        text-align: center;
    }

    .main-define-text {
        grid-row: 2;
        grid-column: 2/-2;
        text-align: center;
        padding: 20px 0;
    }

    .define-items {
        grid-column: 2/-2;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .define-item {
        max-width: 280px;
        min-width: 250px;
        width: 25%;
        margin: 20px;
        overflow: hidden;
        text-align: center;
        margin-bottom: 30px;
    }

    .define-item img {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .item-title {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .main-understand-col1 {
        padding: 20px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-understand-col2 {
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 10px;
    }

}

@media (max-width: 977px) {

    .main-understand-col1 {
        padding: 20px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}